/* WordPress generated classes */

.alignleft {

	@apply float-left mr-4 text-left;
}

.alignright {

	@apply float-right ml-4 text-right;
}

.aligncenter {

	@apply clear-both block mx-auto text-center;
}

.wp-caption {

	@apply max-w-full;

	&.aligncenter {

		@apply text-center;
	}

	&.alignright {

		@apply text-right;
	}
}

.wp-caption-text {

	@apply m-0;
}

.entry-content > * {

	@apply max-w-content mx-auto text-cloudburst;
}

.entry-content > *:not(.wp-block-cover) {

	@apply px-6;
}


.entry-content-wide > * {

	@apply max-w-5xl mx-auto text-cloudburst;
}

.entry-content-wider > * {

	@apply max-w-screen-xl mx-auto text-cloudburst;
}

.entry-content-wide > .entry-title {

	@apply max-w-5xl mx-auto text-cloudburst;
}

.entry-content > .alignwide {

	@apply max-w-wide;
}

.entry-content > .alignfull {

	@apply max-w-none;
}

.wp-block-gallery.has-nested-images.is-cropped figure.wp-block-image:not(#individual-image) img {

	@apply m-0;
}


/**
	* Post title styles
	*
	* These will be applied to all headings with an `entry-title` class on the
	* frontend and to the post heading in the block editor.
	*
	* The supplied styles are meant to match the default `h1` classes from
	* Tailwind Typography.
*/
.edit-post-visual-editor__post-title-wrapper .editor-post-title__input,
.entry-title {

	@apply max-w-content mx-auto mb-6 text-6xl font-extrabold;
}

/**
	* Post content styles (via Tailwind Typography)
	*
	* These will be applied to all content blocks with an `entry-content` class on
	* the frontend and within the block editor.
	*
	* For details on how to customize Tailwind Typography via its modifier
	* classes, please see:
	*
	* https://tailwindcss.com/docs/typography-plugin
	*
	* To disable the richtext styling remove the `prose` class.
*/
.block-editor-block-list__layout,
.entry-content {

	@apply max-w-none prose;
}

.goverlay {
	background: rgba(0 0 0 / 85%) !important;
}

.wp-block-group.has-background {

	@apply pt-1 pb-4 px-8;
}

body .is-layout-constrained > :where(:not(.alignleft):not(.alignright):not(.alignfull)) {

	@apply max-w-5xl;
}

.wp-element-button,
.wp-block-button__link {

	@apply text-[#fff] no-underline rounded-none uppercase text-sm border-2 border-transparent py-2 px-4 lg:py-3 bg-bunting transition-all;

	&:hover,
	&:focus {

		@apply border-cloudburst bg-[#fff] text-bunting;
	}
}

.is-layout-flow.wp-block-column {

	& h5 + h3 {

		@apply mt-0;
	}

	& .wp-block-image {

		@apply my-0;
	}
}


.is-layout-flow.wp-block-group {

	& h5 + h2 {

		@apply mt-0 mb-12;
	}
}

.is-layout-flex.wp-block-columns + .wp-block-separator {

	@apply mb-12;
}

.is-layout-flex.wp-block-columns {

	@apply my-10 lg:my-20;
}

.wp-block-cover {

	@apply mt-4;
}

.wp-embed-aspect-16-9 {

	& .wp-block-embed__wrapper iframe {
		aspect-ratio: 16 / 9;
		height: 100%;
		width: 100%;
	}
}

.wp-block-column-reverse {

	@apply flex-col-reverse lg:flex-row;
}

.wp-block-embed {

	@apply my-0;
}

.single-accommodation .wp-block-columns {

	@apply my-8;
}

.single-accommodation .wp-block-columns h2 {

	@apply mt-0;
}

.accordion-block {

	@apply bg-[#ececec] py-4 px-8 first:mb-4;
}

.accordion-block .wp-block-columns {

	@apply my-4;
}

.accordion-block .wp-block-tenup-example__content h3 {

	@apply mt-0;
}

.wp-block-cover.alignfull {

	@apply mt-0 mb-12;
}

.wp-block-cover.alignfull h1 {

	@apply text-6xl mb-0;
}

.wp-block-cover.alignfull h2 {

	@apply mt-6;
}

.wp-block-gallery.has-nested-images {

	@apply mt-0;
}
